.cta-home{
	background-color: #F1EDE1;
	border: 1px solid #EEE;
	border-radius: 50%;

	color: #C51011;
	text-align: center;

	margin: 0 auto;
	overflow: hidden;

	height: 200px;
	width: 200px;
}
.cta-home a{
	line-height: 200px;
}

.movies-grid{
	background-color: #F1EDE1;
}
.movie-card{
	background-color: #FFF;
	border-radius: 3px;

	color: #333;

	margin: 10px;
	padding: 1em;
}
.movie-card h3{
	text-transform: uppercase;
	margin: 0;
}