.cta-home{
	background-color: #F1EDE1;
	border: 1px solid #EEE;
	border-radius: 50%;

	color: #C51011;
	text-align: center;

	margin: auto;
	overflow: hidden;

	height: 300px;
	width: 300px;
}
.cta-home a{
	color: #C51011;

	line-height: 200px;
}

/* Movies' grid and cards */

.movies-grid{
	background-color: #F1EDE1;
}
.movie-card{
	background-color: #FFF;
	border-radius: 3px;

	color: #333;

	margin: 10px 0;

}
.movie-card h4{

	margin: 0;
}
.movie-subtitle{
	font-size: 1.2em;
}