<div class="col-sm-6 programa-list" ng-repeat="programa in programas">
<div class="col-sm-6 programa-list" ng-repeat="programa in programas | filter:searchText">
    <article class="movie-card panel panel-default">
        <header class="panel-heading" style="background: #FFBE00">
            <h4><a ui-sref="programas.detail({ id: {{programa.n}} })">#{{programa.n}} {{programa.titulo}}</a>
            </h4>
        </header>
        <figure class="panel-body">
            <div class="col-xs-4">
                <img ng-src="assets/img/{{programa.thumb}}" />
            </div>
            <figcaption class="col-xs-8">
                <h3>Programa {{programa.n}}</h3>
                <p>{{programa.sinopse}}</p>
            </figcaption>
        </figure>
    </article>
</div>
