<div class="single-movie-container container">
        <div class="col-sm-12">
            <div class="movie-card panel panel-default">
                <header class="panel-heading">
                    <!-- <div class="programa-cover" ng-style="{'background-image': 'url(' + capa + ')'}"></div> -->
                    <div class="programa-cover"></div>
                    <div class="header-content">
                        <h1>#{{programa.id}} {{programa.titulo}}</h1>
                        <label class="tag" ng-show="programa.duracao != null">{{programa.duracao}} min</label>
                        <label class="tag" ng-show="programa.faixa_etaria != null">{{programa.faixa_etaria}}</label>
                        <label class="tag" ng-show="programa.duracao != null">{{programa.duracao}}</label>
                        <label class="pull-right available" ng-if="programa.quantidade_total > 0">
                            Disponível
                        </label>
                    </div>
                </header>
                <section class="panel-body">
                    <div class="col-xs-3">
                        <img class="img-responsive capa" ng-src="http://programadorabrasil.gov.br/media/imgs/programas/{{programa.imagens[0].url}}"/>

                        <h3>Filmes do Programa #{{programa.id}}</h3>
                        <ul class="movies-list">
                            <li ng-repeat="filme in programa.filmes">
                                <a ui-sref="filmes.detail({ id: {{filme.filme_id}} })">{{filme.filme_id}}</a>, de <span ng-repeat="diretor in filme.diretores">{{diretor.nome}} </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-9">
                        <div class="vod_container">
                            <img src="assets/img/vodplaceholder.jpg" class="img-responsive center-block" />
                        </div>
                        <p>
                            {{programa.descricao}}
                        </p>
                        <blockquote class="review">
                            <div>
                                {{programa.critica}}
                            </div>
                        </blockquote>
                    </div>
                </section>
            </div>
        </div>
    </div>